@import 'tailwindcss';

@theme inline {
  --font-title: var(--font-poppins);
  --font-subtitle: var(--font-merriweather);
  --font-body: var(--font-roboto);
  --font-button: var(--font-merriweather);
  --default-transition-duration: 300ms;
  --color-esona: #f15757;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  @apply mx-auto w-full max-w-[1320px] px-3;
}
