@import 'tailwindcss';

@theme inline {
  --font-title: var(--font-poppins);
  --font-subtitle: var(--font-merriweather);
  --font-body: var(--font-roboto);
  --font-button: var(--font-roboto);

  --default-transition-duration: 300ms;

  --color-primary: #f15757;
  --color-secondary: #ffb400;
  --color-foreground: #404040;
  --color-muted: #f5f5f5;

  --radius-5xl: 2.625rem;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  @apply mx-auto w-full max-w-[1320px] px-3;
}

.range-thumb::-webkit-slider-thumb {
  appearance: none;
  pointer-events: all;
  height: 1rem;
  width: 1rem;
  background-color: var(--color-primary);
  border-radius: 9999px;
  cursor: pointer;
  margin-top: -0.45rem;
}

.range-thumb::-moz-range-thumb {
  appearance: none;
  pointer-events: all;
  height: 1rem;
  width: 1rem;
  background-color: var(--color-primary);
  border-radius: 9999px;
  cursor: pointer;
}

.range-thumb::-webkit-slider-runnable-track {
  height: 1px;
  background: transparent;
}

.range-thumb::-moz-range-track {
  height: 1px;
  background: transparent;
}
